- unless @memer.errors.empty?
    #warning
        Error(s) prevented this memer from being #{controller.action_name}d:
        %ul
            - @memer.errors.full_messages.each do |error|
                %li= error
    
= label :memer, :name, 'Name<br>'.html_safe
= text_field :memer, :name
%br
= label :memer, :age, 'Age<br>'.html_safe
= text_field :memer, :age
%br
= label :memer, :gender, 'Gender<br>'.html_safe
= text_field :memer, :gender
%br
%br