%tr
    %td= memer.name
    %td= memer.age
    %td= memer.gender
    %td= link_to "More", memer_path(memer)
    %td= link_to "Delete", memer_path(memer), :method => :delete, :data => {:confirm => "Are you sure?"}
