%h2 Details about #{@memer.name}

%ul#details
    %li 
        Age: 
        = @memer.age
    %li 
        Gender: 
        = @memer.gender
    
= link_to "Edit info<br>".html_safe, edit_memer_path
= link_to "Back to memers list", memers_path