%h2 Details about #{@memer.name}

%ul#details
    %li 
        Age: 
        = @memer.age
    %li 
        Gender: 
        = @memer.gender
    
.btn-group
    = link_to "Edit Info<br>".html_safe, edit_memer_path(@memer)
    = link_to "Delete<br>".html_safe, memer_path(@memer), :method => :delete, :data => {:confirm => "Are you sure?"}
    = link_to "Back", memers_path