%h2 Details about #{@memer.name}

%ul#details
    %li 
        Age: 
        = @memer.age
    %li 
        Gender: 
        = @memer.gender
    
= link_to "Edit info<br>".html_safe, edit_memer_path(@memer)
= link_to "Delete<br>".html_safe, memer_path(@memer), :method => :delete, :data => {:confirm => "Are you sure?"}
= link_to "Back to memers list", memers_path